@font-face {
    font-family: 'ErasLightITC';
    src: url('../../font/ErasLightITC.ttf');
}
.login {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/img/login-back.png) no-repeat center/cover;
    input::-webkit-input-placeholder {
        font-family: 'Microsoft YaHei', sans-serif;
    }
    input:-moz-placeholder {
        font-family: 'Microsoft YaHei', sans-serif;
    }
    input::-moz-placeholder {
        font-family: 'Microsoft YaHei', sans-serif;
    }
    input:-ms-input-placeholder {
        font-family: 'Microsoft YaHei', sans-serif;
    }
}
.login-content {
    width: 70%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.login-content input {
    font-size: 1.2rem;
    line-height: 3.2rem;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 3.2rem;
    margin-top: 13%;
    padding: 0 1.2rem;
    border: 1px solid;
    border-radius: .5rem;
    background-color: rgba(17, 17, 17, .6);
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
}
.login-button {
    font-size: 1.5rem;
    display: inline-block;
    clear: both;
    margin: 0 auto;
    margin-top: 20%;
    padding: .6rem 6rem;
    color: #212121;
    border-radius: 10rem;
}
.login-button:active {
}
.login-content {
    .title {
        font-family: 'ErasLightITC';
        font-size: 4rem;
        margin-top: 26%;
        text-align: center;
    }
    .to-register {
        font-size: 1.2rem;
        margin-top: .9rem;
        margin-right: .3rem;
        text-align: right;
    }
}
